@font-face {
  font-family: 'Conv_BLADRMF_';
  src: url("fonts/BLADRMF_.eot");
  src: local('☺'), url("fonts/BLADRMF_.woff") format('woff'), url("fonts/BLADRMF_.ttf") format('truetype'), url("fonts/BLADRMF_.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-t3ztlw");
  src: url("fonts/icomoon.eot?#iefix-t3ztlw") format('embedded-opentype'), url("fonts/icomoon.woff?-t3ztlw") format('woff'), url("fonts/icomoon.ttf?-t3ztlw") format('truetype'), url("fonts/icomoon.svg?-t3ztlw#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #23aa5d;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  color: #57e281;
  background: #49337a;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
a:hover {
  color: #49337a;
  background-color: #57e281;
  text-decoration: underline;
}
p abbr {
  color: #f16d58;
}
h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #bb4389;
  font-family: 'Conv_BLADRMF_';
  letter-spacing: 0.4em;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: 4px -2px 0.1em #fffffe;
  font-size: 2em;
  text-align: center;
}
h2 {
  font-family: 'Conv_BLADRMF_';
  font-size: 1.6em;
  color: #bb4389;
}
h3 {
  font-size: 1.2em;
  color: #bb4389;
  text-transform: uppercase;
}
p {
  line-height: 1.3em;
  letter-spacing: 0.1em;
  text-align: justify;
}
header {
  padding: 0.5em;
}
.page-wrapper {
  background-color: #040323;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
}
.intro div,
.main div {
  padding: 1em 0;
}
.summary,
.preamble {
  padding: 0.3em 0;
}
/********footer***********/
footer {
  background: #49337a;
  margin: 1em 0;
  text-align: center;
  padding: 1em 0;
}
footer a {
  background: none;
  color: transparent;
  display: inline-block;
  height: 40px;
  margin: 0 0.3em;
  overflow: hidden;
  position: relative;
  width: 40px;
  color: rgba(255,255,255,0);
  -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  -o-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  -ms-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
}
footer a:before {
  -webkit-font-smoothing: antialiased;
  color: rgba(255,255,255,0.9);
  display: block;
  font-family: 'icomoon';
  font-size: 40px;
  font-variant: normal;
  font-weight: normal;
  left: 0;
  line-height: 1;
  overflow: visible;
  position: absolute;
  speak: none;
  text-indent: 0;
  text-transform: none;
  top: 3px;
}
footer a:hover {
  color: transparent;
  background: none;
  -webkit-box-shadow: -5px -5px 5px #f00;
  box-shadow: -5px -5px 5px #f00;
}
.zen-validate-html:before {
  content: "\eadf";
}
.zen-validate-css:before {
  content: "\eae1";
}
.zen-license:before {
  content: "\eab1";
}
.zen-accessibility:before {
  content: "\e9b2";
}
.zen-github:before {
  content: "\eab1";
}
/************FIN footer***********/
/************aside****************/
.sidebar {
  margin-top: 1em;
  max-width: 350px;
  padding: 0.5em;
  width: 100%;
}
.sidebar a {
  background: transparent;
}
.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4 {
  border-top: none;
}
.sidebar li {
  padding: 0.7em;
}
/*************design selection *****/
.design-selection {
  margin-top: 1em;
}
.design-selection li:nth-child(2n+1) {
  background: rgba(255,185,174,0.95);
}
.design-selection li:nth-child(2n) {
  background: rgba(255,141,122,0.95);
}
.design-name {
  color: #a10000;
  display: block;
}
.designer-name {
  color: #26fc41;
  display: block;
  text-transform: uppercase;
}
/**************** aside archives ***************/
.design-archives {
  position: relative;
  margin-top: 1em;
}
.design-archives li {
  display: inline-block;
  line-height: 3em;
}
.next {
  position: absolute;
  left: 70%;
}
.next a {
  background-image: url("img/rocket-right.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  -webkit-background-size: 4em;
  -moz-background-size: 4em;
  background-size: 4em;
  color: transparent;
  display: inline-block;
  height: 3em;
}
.next a:hover {
  margin-left: 1.5em;
}
/**************** aside resources ***********/
.zen-resources {
  margin-top: 1em;
}
.zen-resources a {
  padding: 0.3em;
}
.zen-resources .view-css a:before {
  content: '\e9ce';
  font-family: 'icomoon';
}
.zen-resources .css-resources a:before {
  content: '\e991';
  font-family: 'icomoon';
}
.zen-resources .zen-faq a:before {
  content: '\e991';
  font-family: 'icomoon';
}
.zen-resources .zen-submit a:before {
  content: '\e908';
  font-family: 'icomoon';
}
.zen-resources .zen-translations a:before {
  content: '\e9c9';
  font-family: 'icomoon';
}
