@import nib
@font-face {
	font-family: 'Conv_BLADRMF_';
	src: url('fonts/BLADRMF_.eot');
	src: local('☺'), url('fonts/BLADRMF_.woff') format('woff'), url('fonts/BLADRMF_.ttf') format('truetype'), url('fonts/BLADRMF_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body 
	color #234A5D
	font-family: 'Orbitron', sans-serif;
	font-size 16px
	font-weight 500
*
	margin 0
	padding 0
a 
	text-decoration none
	color #57E281	
	background #49337A
	border-radius 3px
a:hover
	color #49337A
	background-color #57E281
	text-decoration underline
	
p abbr
	color #F16D58
	font-weight 900
	text-shadow 1px 1px .2em #41B263
		
h1, h2, h3, h4
	border-top 12px groove #8763DC
	color #BB4389
	font-family 'Conv_BLADRMF_'
	margin 0 0 1em 0
	padding .3em 0 .2em 0
	text-shadow 3px 3px .1em #57E281
h1
	font-size 2em
	text-align center
	// border none
h2
	font-size 1.4em
	
h3
	font-size 1.2em

p
	line-height 1.4em
	letter-spacing .1em
header
	// background #C0FECB
	padding .5em
	
.page-wrapper
	// background-image: url(img/fondo_zen_01.png)
	// color #333
	background-attachment fixed
	background-color: #040323
	background-position center
	background-repeat no-repeat
	background-size cover
	box-sizing border-box
	padding 15px
	width 100%
	
.intro
	// background pink

.summary
	// background #76CEEB
	margin 1em 0
	padding .5em 0

.preamble
	// background #FECEAB
	// background-image url(img/iluminacion.png) 
	background-position: center
	background-repeat no-repeat
	background-size 25rem
	// background-size cover
	padding .5em 0

.explanation
	// background #FECEAB
	// background-image url(img/whatsthat.png) 
	background-position center
	background-repeat no-repeat
	background-size 20rem
	padding .5em 0

.participation
	// background #FECEAB
	// background-image url(img/participacion.png) 
	background-position: center
	background-repeat no-repeat
	background-size 25rem
	padding .5em 0

.benefits
	// background #FECEAB
	// background-image url(img/benefits.png) 
	background-position: center
	background-repeat no-repeat
	padding .5em 0
	
.requirements
	// background #FECEAB
	// background-image url(img/requirement.png) 
	background-position: center
	background-repeat no-repeat
	background-size 25rem
	padding .5em 0
	
footer
	// background: pink
	
aside
	max-width 950px
	
	
.design-selection
	// background rgba(142, 50,104,.3)
	max-width 500px
	margin-top 1em
li
	// background pink
	color transparent
	list-style none
	font-size .7em
	margin-bottom 1em
.design-name
	// background pink
	// color red
// .design-name:after
// 		color white
// 		float left
// 		width 0
// 		white-space nowrap
// 		content "................................................................................................................................................................"
.designer-name
	float right 
	display inline-block
	text-transform uppercase
.design-archives
	// background rgba(178,151, 63,.3)
	margin-top 1em
	
.zen-resources
	margin-top 1em
	

// design-name:after {
// float: left;
// width: 0;
// white-space: nowrap;
// color: #3f3d3a;
// content: ".....................................................................................................................";
// }