@import nib

body 
	font-size 24px
	font-family: 'Cookie', cursive;
*
	margin 0
	padding 0
	
.page-wrapper
	background-image: url(img/fondo_zen_01.png)
	background-attachment fixed
	background-position center
	background-size cover
	background-repeat no-repeat
	color #333
	width 100%
	padding 15px
	box-sizing border-box
	
.intro
	// background pink

header
	// background #C0FECB
	padding .5em
	h1
		text-align center
	h2
		font-size 1.2em

.summary
	// background #76CEEB
	margin 1em 0
	padding .5em 0

.preamble
	// background #FECEAB
	background-image url(img/iluminacion.png) 
	background-position: center
	background-repeat no-repeat
	background-size 25rem
	// background-size cover
	padding .5em 0

.explanation
	// background #FECEAB
	background-image url(img/whatsthat.png) 
	background-position center
	background-repeat no-repeat
	background-size 20rem
	padding .5em 0

.participation
	// background #FECEAB
	background-image url(img/participacion.png) 
	background-position: center
	background-repeat no-repeat
	background-size 25rem
	padding .5em 0

.benefits
	// background #FECEAB
	background-image url(img/benefits.png) 
	background-position: center
	background-repeat no-repeat
	padding .5em 0
	
.requirements
	// background #FECEAB
	background-image url(img/requirement.png) 
	background-position: center
	background-repeat no-repeat
	background-size 25rem
	padding .5em 0
	
footer
	// background: pink
	
aside
	// background lightblue
	
.design-selection
	// background rgba(142, 50,104,.3)
	
.design-archives
	// background rgba(178,151, 63,.3)
	
.zen-resources
	background rgba( 43, 90,113,.3)
	border-radius 25px
	