@import nib
@font-face {
	font-family: 'Conv_BLADRMF_';
	src: url('fonts/BLADRMF_.eot');
	src: local('☺'), url('fonts/BLADRMF_.woff') format('woff'), url('fonts/BLADRMF_.ttf') format('truetype'), url('fonts/BLADRMF_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-t3ztlw');
	src:url('fonts/icomoon.eot?#iefix-t3ztlw') format('embedded-opentype'),
		url('fonts/icomoon.woff?-t3ztlw') format('woff'),
		url('fonts/icomoon.ttf?-t3ztlw') format('truetype'),
		url('fonts/icomoon.svg?-t3ztlw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body 
	color #23aA5D
	font-family: 'Orbitron', sans-serif;
	font-size 14px
	font-weight 400
*
	margin 0
	padding 0
	list-style none
	text-decoration none
a 
	color #5140E8	
a:hover
	color #FF0000
	// background-color #23aa5d
	text-decoration underline
	
p abbr
	color #42FF65
	// font-weight 900
	// text-shadow 1px 1px .2em #41B263
		
h1
	box-sizing: border-box;
	color #bb4389;
	font-family: 'Conv_BLADRMF_';
	// line-height: 2.5em;
	letter-spacing .4em
	padding .5em 0
	text-align: center;
	text-shadow: 4px -2px 0.1em #FFFFFE;
	font-size 2em
	text-align center
	
h2
	font-family: 'Conv_BLADRMF_'
	font-size 1.6em
	color #bb4389
	
h3
	font-size 1.2em
	color #bb4389
	text-transform uppercase

p
	line-height 1.3em
	letter-spacing .1em
	text-align justify
header
	// background #C0FECB
	padding .5em
	
.page-wrapper
	background-color: #040323
	background-position center
	background-repeat no-repeat
	background-size cover
	box-sizing border-box
	padding 15px
	width 100%
	height 100%
.intro 
.main 
	div
		padding 1em 0
	

.summary
	
.preamble
	padding .3em 0
	
// .explanation
	
// .participation
	
// .benefits
		
// .requirements
	
/********footer***********/
footer 
	background #49337A
	margin 1em 0
	text-align center
	padding 1em 0
footer a 
	background none
	color transparent
	display: inline-block;
	height: 40px;
	// line-height 40px
	margin: 0 0.3em;
	overflow: hidden;
	// padding: .3em 
	position: relative;
	width: 40px;
	color: rgba(255, 255, 255, 0);
	-webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
	-moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
	transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
footer a:before
	-webkit-font-smoothing: antialiased;
	color: rgba(255, 255, 255, .9);
	display: block;
	font-family: 'icomoon';
	font-size: 40px;
	font-variant: normal;
	font-weight: normal;
	left: 0;
	line-height: 1;
	overflow: visible;
	position: absolute;
	speak: none;
	text-indent: 0;
	text-transform: none;
	top: 3px;
footer a:hover
	color transparent
	background none
	box-shadow -5px -5px 5px red
.zen-validate-html:before
	content: "\eadf";
.zen-validate-css:before
	content: "\eae1";
.zen-license:before
	content: "\eab1";
.zen-accessibility:before
	content: "\e9b2";
.zen-github:before
	content: "\eab1";	
/************FIN footer***********/
/************aside****************/
.wrapper
	// background pink
	// display flex
	flex-direction row
	margin-top 5em
	max-width 350px
	padding .5em
	width 100%
	h1, h2, h3, h4
		border-top none
	li
		padding .7em
/*************design selection *****/	
.design-selection
	margin-top 1em
	ul 
		background #3B72FF
		color #666
	li:nth-child(2n+1)
		background rgba(255, 255, 255, .5)
		
	li:nth-child(2n)
		background rgba(255, 255, 255, .3)
.design-name
	color #5140E8
	display block
	text-transform uppercase
	font-weight 500

.designer-name
	color #666
	padding-top .7rem 
	display inline-block
	
/**************** aside archives ***************/
.design-archives
	// order -1
	background #90ffa5
	position relative
	// margin-top 1em
	h3 
		visibility  hidden
		height 0
		
	ul
		display flex
		justify-content space-between
		align-items center
		height 8rem
		padding 0 .5rem
	li 
		border-radius 50%	
		display inline-block
		
		
.previous
	background #4d5f8d
	order -1
	width 3rem
	height 3rem
	
	a
		// text-align right	
		background-image: url(img/rocket-left.png)
		background-repeat no-repeat
		background-position: 0 50% 
		background-size 3rem
		color transparent
		display inline-block
		height 3rem
	:hover, :focus
		margin-left -.6rem
.next 
	background #4d5f8d
	order 1
	width 3rem
	height 3rem
	a
		background-image: url(img/rocket-right.png)
		background-repeat no-repeat
		background-position: 0 50% 
		background-size 3rem
		color transparent
		display inline-block
		height 3rem
	:hover, :focus
		margin-left .6rem

.viewall
	background #4d5f8d
	width 6rem
	height 6rem
	text-align center
	text-transform uppercase
	a
		display inline-block
		color transparent
		background-image url(img/viewall.png)
		background-repeat no-repeat
		background-position 50% 50%
		background-size 5.5rem
		height 6rem
		padding 0
	:hover
		background-size 6rem
		

/**************** aside resources ***********/
.zen-resources
	margin-top 1em
	a
		padding .3em
	.view-css a:before
		content '\e9ce'
		font-family 'icomoon'
		
	.css-resources a:before
		content '\e991'
		font-family 'icomoon'
	
	.zen-faq a:before
		content '\e991'
		font-family 'icomoon'
	
	.zen-submit a:before
		content '\e908'
		font-family 'icomoon'
	
	.zen-translations a:before
		content '\e9c9'
		font-family 'icomoon'

