/*------------------------------------*    $intro
\*------------------------------------*/
.intro {
  box-sizing: border-box;
  background-color: cream;
  margin-bottom: 0;
  overflow: hidden;
  order: -1;
}
header {
  background-color: lightnavy;
  box-sizing: border-box;
  text-align: center;
  padding: 0.6rem 0 0.6rem 0;
}
.summary {
  box-sizing: border-box;
  padding-left: padding-x;
  padding-right: padding-x;
}
.preamble {
  box-sizing: border-box;
  padding-left: padding-x;
  padding-right: padding-x;
}
@media (min-width: 740px) {
  .preamble {
    display: table;
    padding: 0 0 1rem 0;
  }
  .preamble h3 {
    display: table-caption;
  }
  .preamble p {
    display: table-cell;
    width: 33.333333%;
    padding: 0 1rem;
  }
}
