/**
*Base
**/
html {
  color: #666;
  font-family: 'Orbitron', sans-serif;
  font-size: 90%;
  font-weight: 400;
}
@media (min-width: 767px) {
  html {
    font-size: 95%;
  }
}
a {
  color: peony;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
h1 {
  color: #bb4389;
  font-family: 'Conv_BLADRMF_';
  font-size: 1.5rem;
  letter-spacing: 0.4em;
  text-shadow: 4px -2px 0.1em #fffffe;
}
h2 {
  color: #fff;
  font-family: 'Conv_BLADRMF_';
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2em;
  color: #bb4389;
  text-transform: uppercase;
  text-align: center;
}
li {
  list-style: none;
}
p {
  line-height: 1.3em;
  letter-spacing: 0.1em;
  text-align: justify;
}
